/*------------------------- GLOBAL -------------------------*/
@font-face {
    font-family: "Basic";
    src: url("LEMONMILK-Light.otf");
}

body {
    width: auto;
    height: auto;
    background-color: #3A3C47;
    margin: 0;
    padding: 0;
}

/*------------------------- HEADER -------------------------*/

header {
    padding: 10px 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 200px;
    height: auto;
}

.menu-header {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
}

.menu-header a {
    font-family: Basic;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
}

.menu-header a:hover {
    color: #4AA929;
}

.navbar {
    background-color: #3A3C47;
}

.buscador {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.search {
    width: 250px;
    color: #FFFFFF;
    background-color: #3A3C47;
    border: none;
    border-bottom: solid 3px #FFFFFF;
}

.search:focus {
    outline: none;
}

::-webkit-input-placeholder {
    color: #FFFFFF;
}

.btn {
    font-size: 20px;
    background-color: #3A3C47;
    color: #4AA929;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #3A3C47;
}

/*------------------------- MAIN -------------------------*/

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 28px;
    font-family: Basic;
    color: #FFFFFF;
    text-align: center;
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    margin: 20px;
}

.card-title {
    height: 70px;
    text-align: center;
}

.ml-logo {
    width: 86px;
    height: auto;
}

/*------------------------- COMING SOON -------------------------*/

.coming-soon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding: 50px 20px;
}

.clouds {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
}

.large-cloud {
    font-size: 3rem;
    margin-right: 20px;
    animation: moveCloudsLarge 4s infinite ease-in-out;
}

.small-cloud {
    font-size: 2rem;
    animation: moveCloudsSmall 4s infinite ease-in-out;
}

.coming-soon-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mountain-icon {
    font-size: 5rem;
    margin-right: 20px;
    color: #4AA929;
    animation: moveMountain 5s infinite ease-in-out;
}

.mensaje {
    font-family: Basic;
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.bike-icon {
    animation: moveBike 2s infinite ease-in-out;
    color: #4AA929;
}

/* Animaciones */

@keyframes moveCloudsLarge {
    0% { transform: translateX(0); }
    50% { transform: translateX(10px); }
    100% { transform: translateX(0); }
}

@keyframes moveCloudsSmall {
    0% { transform: translateX(10px); }
    50% { transform: translateX(0); }
    100% { transform: translateX(10px); }
}

@keyframes moveBike {
    0% { transform: translateX(0); }
    50% { transform: translateX(20px); }
    100% { transform: translateX(0); }
}

@keyframes moveMountain {
    0% { transform: translateX(0); }
    50% { transform: translateX(10px); }
    100% { transform: translateX(0); }
}

/*------------------------- FOOTER -------------------------*/

footer {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #4AA929;
}

.menu-footer {
    display: none;
}

.contactanos {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.contactanos p {
    font-family: Basic;
    color: #FFFFFF;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
}

.contactanos p i {
    font-size: 20px;
    margin-right: 10px;
}

.redes {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.redes p {
    font-family: Basic;
    color: #FFFFFF;
    font-size: 14px;
    text-transform: uppercase;
}

.redes p i {
    font-size: 20px;
    margin-right: 10px;
}

@media only screen and (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .logo {
        width: 200px;
    }

    .menu-header {
        display: none;
    }

    .buscador {
        width: 100%;
        justify-content: center;
    }

    .search {
        width: 80%;
    }

    main {
        padding: 10px;
    }

    .section {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
        max-width: 300px;
    }

    .card-img-top {
        width: 100%;
    }

    .coming-soon {
        padding: 20px;
    }

    .clouds {
        margin-bottom: 30px;
    }

    .coming-soon-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .mountain-icon {
        display: none;
    }

    .bike-icon {
        font-size: 5rem;
        margin-top: 20px;
    }

    footer {
        padding: 20px;
    }

    .contactanos, .redes {
        align-items: center;
    }
}
